In [32]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("C:\\Users\\matheus.jacob\\Downloads\\Github\\PythonClasses\\salaries.csv")

In [27]:
df['salary'] = df['salary'].astype(str)

In [29]:
df['salary'] = df['salary'].astype('int64')

In [41]:
pivot_Company_location = df.pivot_table(index='company_location',values='salary',aggfunc='mean')

In [43]:
pivot_Company_location

                         salary
company_location
AD                 47000.000000
AE                 86000.000000
AM                 50000.000000
AR                 62444.444444
AS                470666.666667
...                         ...
TR                143666.666667
UA                105600.000000
US                158078.590439
VN                 63000.000000
ZA                 76508.157895

[77 rows x 1 columns]